<ion-view view-title="Crea gruppo">

<div class="paginacreagruppo">
<div class="creagruppo">
	<h4>scegli i tuoi amici per passare la serata questa sera</h4>
		<p>(il gruppo deve avere un min di 2 persone e un massimo di 4) </div>

<div class="card">
	<div class="row">
	  	<div class="col col-50">
	  		<button class="button ion-plus-circled" >
	  	</div>

	  	<div class="col col-50">
	  		<button class="button ion-plus-circled" >
	  	</div>
	  </div>

	  <div class="row">
	  	<div class="col col-50">
	  		<button class="button ion-plus-circled" >
	  	</div>

	  	<div class="col col-50">
	  		<button class="button ion-plus-circled" >
	  	</div>

	  		   
	</div>
 </div>
</div>

<div class="row">
	<div class="col col-30 col-offset-40">
<button class="button icon-left ion-star button-positive ">Favorites</button>
 </div>
</div>

</div>

</ion-view>
