<ion-view view-title="Lovermobile" >



<div class="paginaprincipale">
   <div class="card">

              <div class="home">
                <div class="row">
            <div  class="col col-50 "> <img src="img/1.jpg"> </div>         
            <div class="col col-50 "> <img src="img/2.jpg"> </div>
                </div>
            <div class="row">
                <div class="col col-50 "> <img src="img/3.jpg"> </div>
                <div class="col col-50 "> <img src="img/4.jpg"> </div>
            </div>

               </div>
            </div>
   
  </div>



<div class="row">
      <a1 class="button1 ion-close-circled"></a1> 
      <a2 class="button2  ion-checkmark-circled"></a2>
    
</div>


    




</div>




<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="ion-home" icon-on="ion-home" href="#/home">
    <ion-nav-view name="home"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes" icon-on="ion-ios-chatboxes" href="#/chats">
    <ion-nav-view name="chats"></ion-nav-view>
  </ion-tab>

  <!-- creagruppo Tab -->
  <ion-tab title="Gruppo" icon-off="ion-ios-people" icon-on="ion-ios-people" href="#/creagruppo">
    <ion-nav-view name="creagruppo"></ion-nav-view>
  </ion-tab>

  <!-- profilo Tab -->
  <ion-tab title="Profilo" icon-off="ion-gear-a" icon-on="ion-gear-a" href="#/profilo">
    <ion-nav-view name="profilo"></ion-nav-view>
  </ion-tab>

</ion-tabs>



 